  <!-- footer -->
  <footer class = "footer">
    <div class = "footer-container">
        <div>
            <h2>À propos de nous</h2>
            <p>Notre équipe veille essentiellement à planifier vos vacances en essayant de vous offrir les forfaits les plus avantageux et les destinations les plus intéressantes a fin de vous permettre de découvrir le monde et vous garantir des vacances inoubliable quelque soit en famille, entre amis ou pour un voyage de noce de rêves.</p>
            <ul class = "social-icons">
                <li class = "flex">
                    <i class = "fa fa-twitter fa-2x"></i>
                </li>
                <li class = "flex">
                    <i class = "fa fa-facebook fa-2x"></i>
                </li>
                <li class = "flex">
                    <i class = "fa fa-instagram fa-2x"></i>
                </li>
            </ul>
        </div>

        <div>
            <h2>Pourquoi choisir Tunisia Best Hôtels ?</h2>
           <p>Meilleurs tarifs</p>
           <p>Large gammeLarge gamme</p>
           <p>Réservation   100% sécurisé</p>
        </div>

        <div>
            <h2>Réservation 100% sécurisé</h2>
            <p>Les tarifs proposés sur notre site Internet sont très compétitifs. Tous les tarifs affichés sur le site Internet tunisiabesthotel.net sont indiqués par chambre pour toute la durée du séjour. Ils comprennent la TVA et toutes les autres taxes (soumises à modification), sauf mention contraire sur notre site Internet ou sur l'e-mail de confirmation de réservation. </p>
        </div>

        <div>
            <h2>Avoir une question</h2>
            <div class = "contact-item">
                <span>
                    <i class = "fas fa-map-marker-alt"></i>
                </span>
                <span>
                    7 Av. Hassen Belkhouja 2083 La Gazelle Ariana TUNISIA  
                </span>
            </div>
            <div class = "contact-item">
                <span>
                    <i class = "fas fa-phone-alt"></i>
                </span>
                <span>
                    +216 71 75 70 32
                </span>
            </div>
            <div class = "contact-item">
                <span>
                    <i class = "fas fa-envelope"></i>
                </span>
                <span>
                    info@tunisiabesthotel.net
                </span>
            </div>
        </div>
    </div>
</footer>
<!-- end of footer -->
