  <!-- header -->
  <header class = "header" id = "header">
    <div class = "head-top">
        <div class = "site-name">
            <span [routerLink]="'/'">TunisiaBesthotels.com</span>
        </div>
        <div class = "site-nav">
            <span id = "nav-btn">MENU <i class="fas fa-bars"></i></span>
        </div>
    </div>

    <div class = "head-bottom flex">
        <h2>ENDROIT  AGRÉABLE  ET CONFORTABLE  POUR  SEJOUR</h2>
        <p>Vous pouvez désormais réserver en ligne votre hôtel Tunisie en dinars avec ou sans carte bancaire.
            En quelques clics seulement, il vous suffit d’utiliser notre moteur pour trouver les établissements disponibles à vos dates, sélectionner le meilleur hôtel Tunisie qui répond à vos exigences et remplir le formulaire.</p>
        <button type = "button" class = "head-btn" routerLink="/hotels">VOIR LES HÔTELS</button>
    </div>
</header>
<!-- end of header -->

<!-- side navbar -->
<div class = "sidenav" id = "sidenav">
  <span class = "cancel-btn" id = "cancel-btn">
      <i class = "fas fa-times"></i>
  </span>

  <ul class = "navbar">
      <li><a [routerLink]="'/'">Accueil</a></li>
      <li><a [routerLink]="'/hotels'">Les hôtels</a></li>
      <li><a [routerLink]="'/rooms'">Les chambres</a></li>
      
  </ul>
  <button class = "btn sign-up">Inscrire</button>
  <button class = "btn log-in">Connecter</button>
</div>
<!-- end of side navbar -->

<!-- fullscreen modal -->
<div id = "modal"></div>
<!-- end of fullscreen modal -->

