<div class="book">
  <form class="book-form">
    <div class="form-item">
      <label for="checkin-date">Check In Date: </label>
      <input type="date" id="chekin-date" name="chekin-date" [(ngModel)]="booking.arrivalDate">
    </div>
    <div class="form-item">
      <label for="checkout-date">Check Out Date: </label>
      <input type="date" id="chekout-date" name="chekout-date" [(ngModel)]="booking.checkoutDate">
    </div>
    <div class="form-item">
      <label for="adult">Adults: </label>
      <input type="number" min="1" value="1" id="adult" name="adult" [(ngModel)]="booking.adultsNb">
    </div>
    <div class="form-item">
      <label for="children">Children: </label>
      <input type="number" min="1" value="1" id="children" name="children" [(ngModel)]="booking.childsNb">
    </div>
    <div class="form-item">
      <label for="rooms">Rooms: </label>
      <input type="number" min="1" value="1" id="rooms" name="rooms" [(ngModel)]="booking.roomsNb">
    </div>
    <div class="form-item">
      <input type="submit" class="btn" value="Book Now" (click)="book()">
    </div>
  </form>
</div>
