<section class="services sec-width" id="services">

  <div class="title">
    <h2>services</h2>
  </div>

  <div class="services-container">
    <article class="service" *ngFor="let hotel of hotels">
      <!-- <div class="service-icon">
        <span>
          <i class="fas fa-utensils"></i>
        </span>
      </div> -->
      <div class="service-content">
        <h2>{{ hotel.name }}</h2>
        <p>{{ hotel.description }}
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, dolorem eos? Voluptatum ullam, itaque commodi tempore atque eius aperiam deserunt quis veniam sit repudiandae, sed sunt nisi ipsa, perferendis adipisci.
        </p>
        <button type="button" class="btn" (click)="goToRooms(hotel.id)">Know More</button>
      </div>
    </article>
  </div>
</section>
